<ng-template #foo let-whatever="message">
    <h1>{{whatever}}</h1>
</ng-template>
<div [ngTemplateOutlet]="foo" [ngTemplateOutletContext]="{message:'iam from the context',name:'onemore'}"></div>

<div [ngTemplateOutlet]="foo" [ngTemplateOutletContext]="one">
</div>
<div [ngTemplateOutlet]="foo" [ngTemplateOutletContext]="two">
</div>
<div [ngTemplateOutlet]="foo" [ngTemplateOutletContext]="three">
</div>
<!-- <ng-template #foo>
    <h1>Iam a template</h1>
</ng-template>
<ng-template #bar>
    <h1>Iam another template</h1>
</ng-template>
<div [ngTemplateOutlet]="foo">
</div>
<div [ngTemplateOutlet]="bar">
</div>
<div [ngTemplateOutlet]="foo">
</div>
<div [ngTemplateOutlet]="bar">
</div> -->